matplotlib==3.8.3
matplotlib-inline==0.1.6
networkx==3.2.1
numpy==1.26.4
PyOpenGL==3.1.7
PyQt5==5.15.10
PyQt5_sip==12.13.0
pyqtgraph==0.13.4
trimesh==4.2.2
scipy==1.12.0
munkres==1.1.4
pillow==10.2.0
pyglet==1.5.28
PyOpenGL-accelerate==3.1.7
pyparsing==3.1.2
PyQt5-Qt5==5.15.2
Pygments==2.17.2
setuptools==69.2.0